* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#options {
    margin-top: 10vh;
}

#options img {
    width: 75px;
    height: 75px;
    border-radius: 60px;
    border: 3px solid black;
    margin-left: 3%;
}

.ops {
    display: flex;
    padding: 2%;
}

.ops figcaption {
    padding-top: 20px;
    padding-left: 2px;
    font-size: 120%;
}
.ops figcaption a{
    text-decoration: none;
    color: #192F59;
}

@media (min-width: 550px) {
    .ops {
        display: block;
        float: left;
        margin-left: 12%;
    }
    #options img {
        width: 120px;
        height: 120px;
    }
    .ops figcaption {
        padding-top: 8%;
    }
}